config.cache
config.log
config.status
libtool
src/gSWFBasics.cpp
src/gSWFDumper.cpp
src/gSWFParseXML.cpp
src/gSWFParser.cpp
src/gSWFSize.cpp
src/gSWFWriteXML.cpp
src/gSWFWriter.cpp
src/swfmill
src/xslt/simple.cpp
src/xslt/simple.xsl
